@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: hsl(258 85% 55%);
    --bg: hsl(0 0% 100%);
    --fg: hsl(224 71% 4%);
    --muted: hsl(220 14.3% 95.9%);
    --card: hsl(0 0% 100%);
    --border: hsl(214.3 31.8% 91.4%);
    --radius: 0.5rem;
  }

  .dark {
    --bg: hsl(224 71% 4%);
    --fg: hsl(210 20% 98%);
    --muted: hsl(215 27% 12%);
    --card: hsl(222 47% 11%);
    --border: hsl(217 33% 17%);
    --brand: hsl(258 85% 65%);
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--bg);
    color: var(--fg);
  }
}
